
.custom_btn, .custom_btn a {
    border-radius: 10px !important;
    color: white !important;
    text-decoration: none !important;
}

.custom_btn{
    box-shadow: 0 0 20px rgba(80, 253, 0, 0.8); /* Green glow effect */
}



.page_link_btn{
    border-radius: 10px !important;
    box-shadow: 0 0 20px rgba(80, 253, 0, 0.8); /* Green glow effect */
}

  
  /* Optionally, if you want to apply the radius to page numbers as well */
  .custom_link {
    border-radius: 10px !important;
  }
  