$radius: 10px; 

.cards {
    border: 2px solid rgba(80, 253, 0, 0.521);
    border-radius: $radius;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    min-height: 300px;
}
  
.cardHoverEffect:hover {
    transform: scale(1.04); /* Slightly increase the card's size */
    box-shadow: 0 0 20px rgba(80, 253, 0, 0.8); /* Green glow effect */
  }
  
.display {
    color: white;
    font-family: 'ubuntu';
    font-weight: bold;
    text-align: center;
}

.img {
    border-radius: $radius $radius 0 0; 
    width: 100%;
}
.badge {
    top: 10px;
    right: 20px; 
    font-size: 17px;
}

.custom_col {
    @media (min-width: 1200px) { /* Adjust this breakpoint as needed */
      flex: 0 0 auto;
      width: 20%; /* Forces 5 cards in a row */
    }
}

.cardDetailBG {
    max-width: 650px; // Adjust based on your preference
    margin: 2rem auto; // Adds vertical space and centers the card horizontally
    padding: 20px; // Adds space inside the card
    border-radius: 10px; // Ensure this is defined or directly use a value
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Optional: adds a soft shadow
    border: 3px solid rgba(80, 253, 0, 0.521); // Keeps your border style
    box-shadow: 0 0 20px rgba(80, 253, 0, 0.8); /* Green glow effect */
  }
  

hr {
    border: none;
    height: 1px; /* Line thickness */
    background-color: #333; /* Line color */
    margin-top: 10px; /* Space above the line */
    margin-bottom: 20px; /* Space below the line */
}
  