html,
body,
.App {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("./assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Ubuntu", sans-serif;
}

.customHeader {
  margin: 0;
  font-family: "rick_font", Ubuntu;
  color: rgb(23, 160, 160); /* Set your desired color */
  font-size: 40px; /* Adjust font size as needed */
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000, /* Black outline */ -1px -1px 0 rgba(80, 253, 0, 0.8),
    1px -1px 0 rgba(80, 253, 0, 0.8), -1px 1px 0 rgba(80, 253, 0, 0.8),
    1px 1px 0 rgba(80, 253, 0, 0.8),
    /* Second outline with specified color */ 0 0 1px rgba(80, 253, 0, 0.8),
    /* Glow effect */ 0 0 8px rgba(80, 253, 0, 0.8); /* Outer glow for more prominence */
}

.customHeader.navbar-brand,
.customHeader.navbar-brand:hover {
  cursor: pointer;
  color: rgb(23, 160, 160); /* Keeps text color the same on hover */
  text-decoration: none; /* Removes underline or any text decoration on hover */
}
.navbar {
  justify-content: center;
  backdrop-filter: blur(5px); /* Apply a moderate blur effect */
  background-color: rgba(0, 0, 0, 0.384); /* Adjusted for more transparency */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border-bottom: 1px solid rgba(0, 0, 0, 0.062); /* Lighter border for subtle separation */
}

/* Enhanced fallback for browsers that don't support backdrop-filter */
@supports not (backdrop-filter: blur(8px)) {
  .navbar {
    background-color: rgba(
      255,
      255,
      255,
      0.7
    ); /* Less transparent for better readability without blur, adjust as needed */
  }
}

.btn {
  border: 2px solid rgba(80, 253, 0, 0.12);
  height: 42px;
  box-shadow: 0 0 20px rgba(80, 253, 0, 0.8); /* Green glow effect */
}
